name: Security audit
on:
  push:
    paths:
    - '**/Cargo.toml'
    - '**/Cargo.lock'
jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    # - uses: actions-rs/audit-check@v1
    #   # FIXME: needs to cd into ./marauder https://github.com/actions-rs/audit-check/issues/116
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
