on: [push, pull_request]

name: Continuous integration

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: default
        target: armv7-unknown-linux-gnueabihf
        override: true
        components: rustfmt
    - uses: marcopolo/cargo@master # TODO: - uses: actions-rs/cargo@v1 https://github.com/actions-rs/cargo/pull/59
      with:
        working-directory: marauder
        use-cross: true
        args: --target armv7-unknown-linux-gnueabihf
        command: check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: default
        target: armv7-unknown-linux-gnueabihf
        override: true
        components: rustfmt
    - uses: marcopolo/cargo@master # TODO: - uses: actions-rs/cargo@v1 https://github.com/actions-rs/cargo/pull/59
      with:
        working-directory: marauder
        use-cross: true
        args: --target armv7-unknown-linux-gnueabihf
        command: test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: default
        target: armv7-unknown-linux-gnueabihf
        override: true
        components: rustfmt
    - uses: marcopolo/cargo@master # TODO: - uses: actions-rs/cargo@v1 https://github.com/actions-rs/cargo/pull/59
      with:
        working-directory: marauder
        command: fmt
        args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: default
        target: armv7-unknown-linux-gnueabihf
        override: true
        components: rustfmt, clippy
    - uses: marcopolo/cargo@master # TODO: - uses: actions-rs/cargo@v1 https://github.com/actions-rs/cargo/pull/59
      with:
        working-directory: marauder
        use-cross: true
        args: --target armv7-unknown-linux-gnueabihf -- -D warnings
        command: clippy
